*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 255, 255);
}

h1{
    margin: 100px 0 0 0;
    text-decoration: underline;
    color: rgb(115, 0, 255);
    font-size: 3em;
    text-shadow: 4px 0 0.2rem rgb(58, 0, 49);
}

.liveTime-Box{
    border: 2px solid rgb(0, 0, 68);
    border-radius: 8px;
    padding: 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 4px 0 0.2rem rgb(86, 86, 86);
}
p{
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 2vh;
}